<button type="button" {{on "click" this.toggleShow}}>Toggle</button>
{{!-- <Rough-Notation-Group @show={{this.show}} as |group|>
    <Rough-Notation @group={{group}} @type="box">
        <span>yeet</span>
    </Rough-Notation>
    <Rough-Notation @group={{group}} @type="box">
        <span>yeet2</span>
    </Rough-Notation>
</Rough-Notation-Group>

<Rough-Notation @type="box" @show={{this.show}}>
    <span>outside</span>
</Rough-Notation> --}}