<div class="bg-white dark:bg-gray-700 flex flex-col rounded shadow-lg my-4 md:my-0 p-2 md:p-0" {{did-insert this.loadTokenMetadata}}>
  <div class="relative w-min-0 m-0 overflow-hidden rounded-t">
    <div class="m-0 w-min-0 w-full h-0 pb-full" />
    <div class="absolute top-0 right-0 bottom-0 left-0 w-min-0">
      {{#unless this.displayImage}}
        <div class="animate-pulse flex space-x-4 absolute object-cover w-full h-full bg-indigo-200 rounded-t" />
      {{/unless}}
      {{#if (and this.displayImage @token.isSold)}}
        <div class="absolute left-0 top-0 h-20 w-20 z-10 bg-red-800 rounded-br-full"><span class="font-bold text-white absolute bottom-9 left-4">Sold</span></div>
      {{/if}}
      <img
        src={{@token.imageUrl}}
        alt={{@token.metadata.name}}
        class="absolute object-cover w-full h-full {{unless this.displayImage "hidden"}}"
        {{on-load this.allowDisplayImage}}
      />
    </div>
  </div>
  <LinkTo @route="gallery.nft" @model={{@token.id}} class="flex justify-between items-center">
    <div class="truncate w-full">
      <Loading-Text
        @text={{@token.metadata.name}}
        @displayWhen={{@token.metadata.name}}
        @loadingClass="bg-indigo-200 animate-pulse rounded h-4 w-1/2 ml-2 mb-2"
        @displayClass="font-display text-blue-800 dark:text-white text-md tracking-widest px-5 pt-5 truncate"
      />
      <Loading-Text
        @text={{@token.artist}}
        @displayWhen={{@token.metadata.name}}
        @loadingClass="bg-indigo-200 animate-pulse rounded h-4 w-1/2 ml-2"
        @displayClass="font-body text-blue-600 dark:text-white text-sm pl-5 pb-5"
      />
    </div>
    <div class="p-5 text-indigo-700 dark:text-white">
      <FaIcon @icon="eye" @prefix="far" />
    </div>
  </LinkTo>
</div>