<div ...attributes>
  {{#if (eq @token.blockchain "ETHEREUM")}}
    <a
      href="{{@token.etherscanUrl}}"
      class="token-link"
      rel="noopener noreferrer"
      target="_blank"
    >
      View on Etherscan
    </a>

    {{#let (eq @token.marketplaceUrl @token.openseaUrl) as |noMarket|}}
      {{#unless noMarket}}
        <a
          href="{{@token.marketplaceUrl}}"
          class="token-link"
          rel="noopener noreferrer"
          target="_blank"
        >
          View on {{@token.marketplaceName}}
        </a>
      {{/unless}}
    {{/let}}

    <a
      href="{{@token.openseaUrl}}"
      class="token-link"
      rel="noopener noreferrer"
      target="_blank"
    >
      View on OpenSea
    </a>
  {{/if}}

  {{#if (eq @token.blockchain "TEZOS")}}
    <a
      href="{{@token.marketplaceUrl}}"
      class="token-link"
      rel="noopener noreferrer"
      target="_blank"
    >
      View on {{@token.marketplaceName}}
    </a>
  {{/if}}
</div>