<div class="rounded mx-4 md:mx-16 mt-4 mb-8" {{did-insert this.loadNft}}>
  <div class="flex rounded">
    <div class="hidden md:flex md:flex-col md:w-1/3 w-1/4 pt-8 pl-8">
      <Loading-Text
        @text={{@token.metadata.name}}
        @loadingClass="bg-indigo-200 animate-pulse rounded h-8 w-1/2 ml-2"
        @displayClass="text-3xl text-indigo-500 dark:text-red-500 font-display font-bold tracking-widest bg-white bg-opacity-75 dark:bg-transparent"
      />
      <Loading-Text
        @text={{@token.metadata.description}}
        @loadingClass="bg-indigo-200 animate-pulse rounded h-64 w-full ml-2 mt-8"
        @displayClass="text-gray-700 dark:text-white text-lg font-body pt-8 bg-white dark:bg-transparent bg-opacity-75"
      />
    </div>
    <div class="w-full md:w-2/3 lg:w-1/2 flex justify-center">
      {{#unless this.displayImage}}
        <div class="animate-pulse bg-indigo-200 h-96 w-full m-8 rounded" />
      {{/unless}}
      <img
        role="button"
        src={{@token.imageUrl}}
        alt={{@token.metadata.name}}
        class="bg-white object-cover max-h-96 rounded my-8 shadow-lg transform hover:max-h-124 duration-700 cursor-zoom-in {{unless this.displayImage "hidden"}}"
        {{on-load this.allowDisplayImage}}
        {{on "click" this.toggleModal}}
      />
    </div>
    <Token::Links
      class="hidden lg:flex lg:flex-col w-1/4 pt-8 pr-8 text-center"
      @contract={{@token.contractAddress}}
      @tokenId={{@token.tokenId}}
    />
  </div>
  <div class="md:hidden text-center mt-4">
    <Loading-Text
      @text={{@token.metadata.name}}
      @loadingClass="bg-indigo-200 animate-pulse rounded h-8 w-1/2 mx-auto"
      @displayClass="text-3xl text-indigo-500 dark:text-red-500 font-display bg-white bg-opacity-75 dark:bg-transparent"
    />
    <Loading-Text
      @text={{@token.metadata.description}}
      @loadingClass="bg-indigo-200 animate-pulse rounded h-64 w-10/12 mx-auto mt-8"
      @displayClass="text-gray-700 dark:text-white text-lg font-body pt-8 text-left px-4 md:px-8 bg-white dark:bg-transparent bg-opacity-75"
    />
  </div>
  <Token::Links
    class="flex lg:hidden text-center mb-8 py-8 justify-evenly"
    @contract={{@token.contractAddress}}
    @tokenId={{@token.tokenId}}
  />
</div>
<Image-Modal
  @src={{@token.imageUrl}}
  @alt={{@token.metadata.name}}
  @isOpen={{this.modalOpen}}
  @onClick={{this.toggleModal}}
/>